<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button style="margin-bottom: 10px;" routerLink="/detailEmployee">detailEmployee</button><br>
  <button routerLink="/listEmployee">listEmployee</button>
</div>
<router-outlet></router-outlet>
